<html>
    <head>
        <title>Melissa Graph'</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bienvenue chez Moi ! </a></h1>
        </div>

        <div>
            <p>published: 22.04.2018, 16:00</p>
            <h2><a href="">Présentation</a></h2>
            <p>Moi c'est Melissa, j'ai 25ans. Je suis graphiste de formation et comme je souhaite évoluer, je commence tout juste a apprendre le codage ! C'est extremement passionnant et enrichissant mais c'est pas de la tarte ! </p>
        </div>

        <div>
            <p>published: 22.04.2018, 17:14</p>
            <h2><a href="">Contenu du site</a></h2>
            <p>Vous trouvez sur ce site des exemples de différents travaux que j'ai eu l'opportunité de traiter.</p>
        </div>
		
		<div>
            <p>published: 01.05.2018, 18:00</p>
            <h2><a href="">Mon CV</a></h2>
            <p>Si vous souhaitez me recruter n'hésitez pas, je n'attend que la chance et l'opportunité de travailler pour vous ! Donc jettez un oeil a mon CV et contacter moi ! </p>
        </div>

        <div>
            <h2><a href="">Contact</a></h2>
            <p> Je suis joignable par mail a l'adresse suivante : bouillet.melissa@gmail.com 
            Retrouvez moi également entre autre sur Facebook, LinkedIn, Viadeo...</p>
        </div>

    </body>
</html>